#page-title {
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 3rem;
}
#aboutMe-text  {
    padding: 1rem;
    color: whitesmoke;
}
#goat-gif {
    margin-right: 2rem;
}
#main-content {
    margin-bottom: 2rem;
}