#page-title {
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 3rem;
}
#item1-text {
    width: 100%;
}
#item-1, #item-2 {
    background-color: rgb(122, 148, 118);
    color: whitesmoke;
    margin: 3rem;
    padding: 2rem;
    
}
#item1-image img{
    
    border: whitesmoke solid;
    width: 100%;
    max-width: 400px;
    height: auto;
    
}
#item1-text a {
    background-color: whitesmoke;
    color: rgb(122, 148, 118);
}
footer {
    margin-top: 2rem;
}
@media screen and (max-width: 900px) {
    #item-1, #item-2{flex-direction: column; justify-content: center; align-items: center;}
    #item1-image img {width: auto;}
}