#education-title {
    margin-right: 25rem;
    margin-left: 12rem;
    font-size: 20px;
}
#experience-title {
    margin-right: 24rem;
    margin-left: 12rem;
    font-size: 20px;
}
#education-content, #experience-content {
    margin-left: 4rem;
    color: whitesmoke;
}
#it-school, #malmo, #front-end  {
    padding-top: 2rem;
}
#page-title {
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 3rem;
}
h3 {
    font-weight: lighter;
}
#text-content {
    padding-top: 0;
    padding: 10px;
    border: none; 
}
#border {
    border-bottom: solid;
    margin: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border-width: 1px;
}
footer {
    margin-top: 2rem;
}
@media screen and (max-width: 992px) {
    #text-content {flex-direction: column; justify-content: center; align-items: center;}
    #education-title, #experience-title {margin-bottom: 1rem;}
    #border {margin-left: 0; margin-right: 0;}
}