* { margin: 0; }
html { height: 100%; }
a {text-decoration: none;}
::-webkit-scrollbar {width: 3px;}
::-webkit-scrollbar-thumb{background-color: black; border-radius: 10px;}
:root {--header-height: 4rem;}
p {line-height: 1.6;}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(243, 243, 243, 0.473);
    min-height: 100%;
    
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
header {
    height: 4rem;
    top: 0;
    width: 100%;
    background-color: white;
}
#name {
    width: 100%;
    margin: 2rem;
}
#head-nav {
    margin: 2rem;
    width: 20rem;
    justify-content: space-between;
    transition: color 0.4s ease 0s;
}

#resume:hover {color: rgb(228, 130, 60);}
#portfolio:hover {color: rgb(122, 148, 118);}
#aboutMe:hover {color: rgb(221, 109, 109);}

#mobile-menu {
    display: none;
}
.dot {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 10px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}
#profile-img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px; 
    filter: grayscale(100%);
}
#text-content {
    border-left: solid;
}
#main-intro{
    padding-left: 10px;
}
#footer-content {
    height: 6rem;
    width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
    border-top: solid;
    border-width: 1px;
    justify-content: space-around;
}
#social-media i {font-size: 20px; padding-right: 1rem;}


/*Reuseable classes*/
.flex {display: flex;}
.align-items {align-items: center;}
.justify-center {justify-content: center;} 
.column {flex-direction: column;}
.grow {flex: 1;}
.height {height: 100%;}

@media screen and (max-width: 992px) {
    
    #main-content{flex-direction: column; justify-content: center; flex-wrap: wrap; align-items: center; margin-top: 2rem;}
    #main-intro {border-bottom: solid; margin: 2rem;}
    #text-content {border-left: none;}
    #nav-about {flex-direction: column; align-items: center;}
    #footer-content {height: 12rem; flex-direction: column; margin: 0; padding: 1rem; align-items: unset;}
    .dot {height: 200px; width: 200px; font-size: 30px; font-weight: lighter;}
    #mobile-menu {color: black; font-size: 1.5rem; justify-content: flex-end; padding: 1rem; display: block;}
    #head-nav {display:none;}
}