* {
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
    background-color: rgb(231, 165, 165);
}
main {
    background-color: rgb(248, 191, 172);
    
}
header {
    display: flex;
    height: 4rem;
    top: 0;
    width: 100%;
    background-color: rgb(170, 189, 163);
}
#name {
    margin: 2rem;
}
#main-content {
    width: 100%;
}
.dot {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
#img-elin {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}
#main-intro{
    padding-left: 10px;
}

/*Reuseable classes*/
.flex {display: flex;}
.align-items {align-items: center;}
.justify-center {justify-content: center;} 
