* { margin: 0; }
html { height: 100vh; }
main {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*color: cornsilk;*/
    /*background-color: rgb(231, 165, 165);*/
    background-color: rgba(243, 243, 243, 0.473);
    height: 100vh;
    
}
header {
    height: 4rem;
    top: 0;
    width: 100%;
    background-color: white;
    /*background-color: rgb(170, 189, 163);*/
}
a {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
}
#name {
    width: 100%;
    margin: 2rem;
}
#head-nav {
    margin: 2rem;
    width: 20rem;
    justify-content: space-between;
}
#mobile-menu {
    display: none;
}
.dot {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 10px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}
#profile-img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px; 
}
#text-content {
    border-left: solid;
}
#main-intro{
    padding-left: 10px;
}
#footer-content {
    height: 6rem;
    width: 100%;
    margin-left: 5rem;
    margin-right: 4rem;
    border-top: solid black;
    justify-content: space-around;
}
#social-media i {
    font-size: 20px;
}


/*Reuseable classes*/
.flex {display: flex;}
.align-items {align-items: center;}
.justify-center {justify-content: center;} 

@media screen and  (max-width: 992px) {
    
    #main-content{flex-direction: column; justify-content: center; flex-wrap: wrap; align-items: center;}
    #main-intro {border-bottom: solid;}
    #text-content {border-left: none;}
    #nav-about {flex-direction: column; align-items: center;}
    #footer-content {height: 12rem; flex-direction: column;}
    .dot {height: 200px; width: 200px; font-size: 30px; font-weight: lighter;}
    #mobile-menu {width: 100%; color: black; font-size: 2rem; justify-content: flex-end; margin: 2rem;}
    #head-nav {display: none;}
}